{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "importOrder": [
    "^react/(.*)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "^@iconify/(.*)$",
    "^@app/(.*)$",
    "^@apis/(.*)$",
    "^@hooks/(.*)$",
    "^@sections/(.*)$",
    "^@pages/(.*)$",
    "^@assets/(.*)$",
    "^@utils/(.*)$",
    "^@components/(.*)$",
    "^@themes/(.*)$",
    "^@styles/(.*)$",
    "^@constants/(.*)$",
    "^[../]",
    "^[./]",
    "^react(.*).css"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
